.question {
    padding: 6px 12px;
    border-radius: 10px;
    margin-top: 6px;
}

.question-bg {
    background-color: rgba(94, 157, 208, 0.2);
}

.option,
button {
    border-radius: 10px;
    padding: 8px;
    color: #000;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

button {
    border: none;
    margin-top: 6px;
    background-color: rgb(0, 57, 148);
    color: white;
    padding: 12px;
    font-weight: bold;
}

.btn-div {
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 12px;
}

.submit-btn {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.selected {
    background-color: black;
    color: white;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

.correct-answer {
    background-color: rgba(14, 188, 66, 0.3);
}


.incorrect-answer {
    background-color:rgba(205, 0, 0, 0.3);
}

.headline, .credit {
    font-family: Arial, Helvetica, sans-serif;
}

.credit a {
    text-decoration: none;
    color: rgb(0, 57, 148);
}
@media screen and (min-width : 676px) {
    .question-section {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 6px;
    }
}